---
import { PostInfoProps } from "src/util/props.types";
import PostTag from "@components/common/PostTag.astro";

const { tags, next, prev } = Astro.props as PostInfoProps
---

<div>
    <div class="pb-8 border-b border-b-ether-surface2">
        <h2 class="p-2 font-semibold text-2xl">Tags:</h2>
        <ul class="mt-2 flex flex-wrap justify-between gap-2 text-xs uppercase after:flex-auto">
            {
            tags.map((tag) => (
            <li class="my-1">
                <PostTag text={tag} />
            </li>
            ))}
        </ul>
    </div>
    <div class="py-4 flex md:flex-col justify-between">
        {next && <a class="text-lg text-ether-secondary1" href={`/blog/${next}`}>Go to next post</a>}
        {prev && <a class="text-lg text-ether-secondary1" href={`/blog/${prev}`}>Go to previous post</a>}
    </div>
</div>