---
import type { MarkdownHeading } from "astro";

const { depth, text, slug } = Astro.props as MarkdownHeading
---

<li id={`nav-heading-${slug}`} class="pl-2 border-2 border-transparent hover:shadow-lg hover:border-ether-secondary2 rounded-full font-sm hover:text-ether-secondary2 leading-snug">
    <a style={`padding-left: ${(depth - 2) * 0.9}rem;`} href={`#${slug}`} class="w-[99%] inline-block mx-2 truncate">
        {text}
    </a>
</li>