---
import BaseHTMLPage from "@components/common/BaseHTMLPage.astro"

---

<BaseHTMLPage title="Page not found - Jakub Śpiewak Blog">
    <main class="h-full mx-auto my-auto flex flex-col items-center">
        <div class="flex divide-x gap-8">
            <div class="text-7xl font-extralight">404</div>
            <div class="pl-8 py-3 flex flex-col justify-center">
                <div class="text-xl">Not found </div>
                <a href="/" class="text-sm text-ether-text3 hover:text-ether-secondary2">Go to homepage</a>
            </div>
        </div>
    </main>
</BaseHTMLPage>