---
import "src/styles/base.css";
---

<main class="bg-ether-landing-surface h-screen">
    <canvas id="loading-page-canvas" class="webgl bg-ether-landing-surface"></canvas>
</main>
<script type="module" src={(await import("../landing-page/three.js?url")).default}></script>
