---
import Icons from "@components/common/Icons.astro";
import "../styles/base.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="index, follow" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <!-- Primary Meta Tags -->
        <title>Jakub Śpiewak</title>
        <meta name="title" content="Jakub Śpiewak" />
        <meta name="description" content="Jakub Śpiewak landing page." />
        <link rel="canonical" href="https://jakubspiewak.com" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://jakubspiewak.com" />
        <meta property="og:title" content="Jakub Śpiewak" />
        <meta property="og:description" content="Jakub Śpiewak landing page" />
        <meta
            property="og:image"
            content="https://alpha.jakubspiewak.com/assets/banner.jpg"
        />
        <meta property="og:site_name" content="Jakub Śpiewak Blog" />
        <meta property="og:author" content="Jakub Śpiewak" />

        <style>
            * {
                margin: 0;
                padding: 0;
            }
            canvas {
                display: block;
            }
            #container {
                width: 100vw;
                height: 100vh;
                background-color: 0x121821;
            }
            body {
                background-color: 0x121821;
                width: 100vw;
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <div id="container"></div>
        <script>
            import Three from "../home/three.js";
            import Stars from "../home/models/stars.js";

            const three = new Three({
                dom: document.getElementById("container"),
            });

            const stars = new Stars();
            three.materials.push(...stars.materials);
            three.scene.add(...stars.variants);

            three.render();
        </script>
    </body>
</html>
