---
import BaseHTMLPage from "@components/common/BaseHTMLPage.astro";
import PostTag from "@components/post/PostTag.astro";
import { markdownFiles } from "src/util/file.util.astro";

const tagsPerPost: string[][] = markdownFiles.map(value => value.frontmatter.tags)
const tagsNames = tagsPerPost.flat().filter((value, index, self) => self.map(a => a.replace("/", "")).indexOf(value.replace("/", "")) === index)
const tags: { amount: number, text: string }[] = tagsNames.map(value => {
    const amount = tagsPerPost.filter(tagsInPost => tagsInPost.map(a => a.replace("/", "")).includes(value.replace("/", ""))).length
    return {
        amount,
        text: value
    }
})
    .sort((a, b) => b.amount - a.amount)
---

<BaseHTMLPage title="Tags - Jakub Śpiewak">
    <main
        class="max-w-7xl mx-auto my-auto flex items-start md:items-center justify-center gap-8 h-full md:divide-x p-4 flex-col md:flex-row divide-y md:divide-y-0">
        <h1 class="text-7xl font-extralight">Tags</h1>
        <section class="pl-8 flex flex-wrap gap-4 pt-4">
            {tags.map(({amount, text}) => (
            <PostTag text={text} amount={amount} />
            ))}
        </section>
    </main>
</BaseHTMLPage>