---
import ArrowUpIcon from "@components/icons/ArrowUpIcon.astro";
import CommentsIcon from "@components/icons/CommentsIcon.astro";
---

<div id="go-up-and-comments-container"
    class="hidden fixed bottom-0 right-8 h-40 flex-col justify-evenly text-ether-inverted transition-all duration-500">
    <button id="go-up-button" class="p-2 rounded-full bg-ether-secondary1 hover:bg-ether-secondary2">
        <ArrowUpIcon />
    </button>
    <button id="go-comments-button" class="p-2 rounded-full bg-ether-secondary1 hover:bg-ether-secondary2">
        <CommentsIcon />
    </button>
</div>
