---
import ThemeButton from "@components/common/ThemeButton.astro";
import SunIcon from "@components/icons/SunIcon.astro";
---

<header
    class="sticky top-0 z-10 px-2 border-b border-ether-surface2 bg-ether-surface1 shadow-xl dark:shadow-ether-surface1">
    <div class="max-w-7xl mx-auto py-4 flex justify-between items-center">
        <a href="/" class="pl-2 font-magiel text-2xl hover:text-ether-secondary2">
            Jakub Śpiewak Blog
        </a>
        <nav id="mobile-nav" class="hidden px-2 sm:flex items-center bg-ether-surface1 font-light text-xl">
            <ul class="w-full sm:m-0 py-1 flex gap-4 sm:grid sm:grid-cols-3 sm:gap-2">
                <li><a class="pr-4 hover:text-ether-secondary2 hover:underline" href="/blog">Blog</a></li>
                <li><a class="pr-4 hover:text-ether-secondary2 hover:underline" href="/about">About</a></li>
                <li><a class="pr-4 hover:text-ether-secondary2 hover:underline" href="/tag">Tags</a> </li>
            </ul>
            <ThemeButton />
        </nav>
        <button id="mobile-menu-button" class="sm:hidden hover:text-ether-secondary2">
            <SunIcon />
        </button>
    </div>
</header>

<script>
    const mobileNav = document.getElementById("mobile-nav")
    const toggle = (show: boolean) => {
        mobileNav.classList[show ? "remove" : "add"]('hidden')
        mobileNav.classList[show ? "add" : "remove"]('flex')
        mobileNav.classList[show ? "add" : "remove"]('absolute')
        mobileNav.classList[show ? "add" : "remove"]('right-0')
        mobileNav.classList[show ? "add" : "remove"]('top-16')
        mobileNav.classList[show ? "add" : "remove"]('w-full')
        mobileNav.classList[show ? "add" : "remove"]('shadow-xl')
        mobileNav.classList[show ? "add" : "remove"]('border-y')
        mobileNav.classList[show ? "add" : "remove"]('border-ether-surface2')
        mobileNav.classList[show ? "add" : "remove"]('py-4')
        mobileNav.classList[show ? "add" : "remove"]('dark:shadow-ether-surface1')
    }
    document.getElementById("mobile-menu-button").addEventListener('click', () => {
        toggle(mobileNav.classList.contains("hidden"))
    })
    window.addEventListener("resize", () => {
        if (!mobileNav.classList.contains("hidden")) toggle(window.innerWidth <= 640)
    })
</script>