---
import ThemeButton from "@components/common/ThemeButton.astro";
import LogoIcon from "@components/icons/LogoIcon.astro";
---

<header class="sticky top-0 z-10 px-2 border-b border-ether-surface2 bg-ether-surface1 shadow-xl dark:shadow-ether-surface1">
    <div class="container-main py-4 flex justify-between items-center">
        <a href="/" class="font-magiel text-2xl hover:text-ether-secondary2">
            <div class="hidden sm:inline">
                <LogoIcon />
            </div>
            Jakub Śpiewak Blog
        </a>
        <nav id="nav" class="hidden px-4 pr-5 sm:px-2 sm:flex items-center bg-ether-surface1 font-light text-xl">
            <ul class="w-full py-1 flex sm:grid sm:grid-cols-3 sm:gap-2">
                <li><a class="pr-4 hover:text-ether-secondary2 hover:underline" href="/blog">Blog</a></li>
                <li><a rel="author" class="pr-4 hover:text-ether-secondary2 hover:underline" href="/about">About</a></li>
                <li><a class="pr-4 hover:text-ether-secondary2 hover:underline" href="/tag">Tags</a> </li>
            </ul>
            <ThemeButton />
        </nav>
        <button id="mobile-menu-button" class="h-full text-2xl sm:hidden hover:text-ether-secondary2">
            <LogoIcon />
        </button>
    </div>
</header>

<script>
    const navigation = document.getElementById("nav")
    const toggle = (show: boolean) => {
        navigation.classList[show ? "remove" : "add"]('hidden')
        navigation.classList[show ? "add" : "remove"]('flex', 'absolute', 'right-0', 'top-16', 'w-full', 'shadow-xl', 'border-y', 'border-ether-surface2', 'py-4', 'dark:shadow-ether-surface1')
    }
    document.getElementById("mobile-menu-button").addEventListener('click', () => {
        toggle(navigation.classList.contains("hidden"))
    })
    window.addEventListener("resize", () => {
        if (!navigation.classList.contains("hidden")) toggle(window.innerWidth <= 640)
    })
</script>