---
import ThemeIcon from "@components/icons/ThemeIcon.astro";
---

<button id="theme-button" class="transition-all duration-500 hover:-rotate-45 hover:dark:rotate-45 dark:rotate-180 active:scale-150">
    <ThemeIcon />
</button>