<header class="backdrop-blur-md sticky top-0 z-10 shadow-xl border-b border-gray-600/30">
    <div class="max-w-7xl mx-auto p-4 text-2xl font-extrabold">
        Jakub Śpiewak Blog
    </div>
</header>