<header class="sticky top-0 z-10 shadow-xl border-b border-gray-600/50 bg-white ring-offset-black">
    <div class="max-w-7xl mx-auto p-4 text-2xl font-extrabold">
        Jakub Śpiewak Blog
    </div>
</header>