---
import { PostInfoProps } from "src/util/props.types";

const { tags, next, prev } = Astro.props as PostInfoProps
---

<div class="divide-y">
    <div class="mb-8">
        <h2 class="text-2xl font-extrabold py-2">Tags:</h2>
        <ul class="gap-2 mt-2 text-xs uppercase flex flex-wrap">
            {
            [...tags, ...tags, ...tags].sort(() => Math.random() - .5).map((tag) => (
            <li class="my-1 shadow-lg shadow-slate-400">
                <a href={`/tag/${tag.replace("/", "")}`} class="py-1 px-2 rounded-full bg-slate-600 text-slate-100 hover:bg-cyan-500">
                    {tag}
                </a>
            </li>
            ))}
        </ul>
    </div>
    <div class="py-4 flex md:flex-col justify-between">
        {next && <a class="text-lg text-cyan-500" href={`/blog/${next}`}>Go to next post</a>}
        {prev && <a class="text-lg text-cyan-500" href={`/blog/${prev}`}>Go to previous post</a>}
    </div>
</div>