---
import { PostInfoProps } from "src/util/props.types";
import PostTag from "./PostTag.astro";

const { tags, next, prev } = Astro.props as PostInfoProps
---

<div class="divide-y">
    <div class="mb-8">
        <h2 class="text-2xl font-semibold p-2">Tags:</h2>
        <ul class="gap-2 mt-2 text-xs uppercase flex flex-wrap justify-between">
            {
            tags.map((tag) => (
            <li class="my-1">
                <PostTag text={tag} />
            </li>
            ))}
        </ul>
    </div>
    <div class="py-4 flex md:flex-col justify-between">
        {next && <a class="text-lg text-ether-secondary1" href={`/blog/${next}`}>Go to next post</a>}
        {prev && <a class="text-lg text-ether-secondary1" href={`/blog/${prev}`}>Go to previous post</a>}
    </div>
</div>