---
import PostNavLink from "@components/post/PostNavLink.astro";
import type { PostNavigationProps } from "src/util/props.types";

const { headings } = Astro.props as PostNavigationProps
---

<h2 class="pb-2 font-semibold text-2xl text-ether-text1">On this page:</h2>
<nav id="post-navigation-list" class="max-h-[calc(100vh-4rem-5rem-1px)] p-1 overflow-y-auto overflow-x-hidden">
    <ul class="max-w-full text-ether-text2">
        {
        headings.map(({text, depth, slug}) => (
        <PostNavLink text={text} depth={depth} slug={slug} />))
        }
    </ul>
</nav>