---
import type { PostHeaderProps } from "src/util/props.types";

const { frontmatter: { date, title } } = Astro.props as PostHeaderProps
---

<div class="container-main py-8 border-b border-b-ether-surface2">
    <h3 class="w-fit mx-auto">
        <time class="text-ether-text3">
            {new Date(date).toLocaleString('en', {day: 'numeric', month: 'long', year:
            'numeric',
            weekday: 'long'})}
        </time>
    </h3>
    <h1 class="w-fit mx-auto font-extrabold text-5xl text-center">
        {title}
    </h1>
</div>