---
import PostCard from "@components/post/PostCard.astro";
import readtime from "reading-time"
import { PostListProps } from "src/util/props.types";

const { posts, title } = Astro.props as PostListProps
---

<main class="max-w-7xl mx-auto my-auto px-4">
    <h1 class="pt-8 font-extralight text-4xl"><span class="font-extrabold uppercase">{title}</span> articles</h1>
    <ul class="mt-4 pt-4 flex flex-col gap-8 divide-y divide-ether-surface2">
        {posts.map(({frontmatter, rawContent, slug}) => (
        <li class="py-4">
            <PostCard frontmatter={frontmatter} slug={slug} readTime={readtime(rawContent()).minutes} />
        </li>
        ))}
    </ul>
</main>