---
import "react"
import { BsLinkedin } from "react-icons/bs/index.js"
---

<a href="https://www.linkedin.com/in/jakub-%C5%9Bpiewak-856a16169/" class="hover:text-ether-secondary2">
    <BsLinkedin size={32} />
</a>